.WatchList {
  text-align: center;
  display: grid;
  justify-content: center;
}

.form-card {
  color: rgb(168, 168, 168) !important;
  margin: auto;
  border: 1px solid rgb(26, 26, 26);
  height: fit-content;
  max-width: 700px;
  background-color: rgb(32, 32, 32);
  padding: 30px;
  margin-top: 10px;
  box-shadow: -3px 1px 11px 4px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: -3px 1px 11px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -3px 1px 11px 4px rgba(0, 0, 0, 0.08);
}

.first {
  display: flex;
  justify-content: center;
}

.inputBox {
  border-radius: 3px;
  background-color: transparent;
  outline: 0;
  border: none;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding: 10px;
  width: 200px;
  font-size: 18px;
  color: rgb(168, 168, 168) !important;
}
.inputBox:focus {
  border-bottom: 2px solid rgb(144, 255, 231);
}

table th,
table td {
  color: rgb(168, 168, 168) !important;
  padding: 10px;
  padding-right: 36px;
  padding-left: 36px;
  font-size: 18px;
  text-align: left;
  max-width: 700px;
  border-bottom: 1px solid rgb(121, 121, 121);
}

.button {
  background-color: rgb(15, 123, 255);
  border-radius: 3px;
  width: 150px;
  padding: 10px;
  color: white;
  font-weight: 800;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.button:hover {
  background-color: rgb(0, 111, 247);
}

body {
  background-image: url("image.png");
  background-color: #0f0f0f;
  background-size: 1600px 800px;
}

.title {
  font-family: "Zilla Slab", serif;
  font-size: 55px;
  color: white;
}
.tableDiv {
  max-height: 150px;
  overflow-y: scroll;
}
.rating {
  margin-left: 30px;
}

.formDiv {
  margin: auto;
}
