/* src/components/watchlist/watchlist.css */

.WatchList {
  display: grid;
  justify-content: center;
  text-align: center;
}

.form-card {
  background-color: rgb(32, 32, 32);
  max-width: 700px;
  height: fit-content;
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgb(26, 26, 26);
  padding: 30px;
  color: rgb(168, 168, 168) !important;
  box-shadow: -3px 1px 11px 4px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: -3px 1px 11px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -3px 1px 11px 4px rgba(0, 0, 0, 0.08);
}

.first {
  display: flex;
  justify-content: center;
}

.inputBox {
  background-color: transparent;
  width: 200px;
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding: 10px;
  font-size: 18px;
  color: rgb(168, 168, 168) !important;
  outline: 0;
}
.inputBox:focus {
  border-bottom: 2px solid rgb(144, 255, 231);
}

table th,
table td {
  max-width: 700px;
  border-bottom: 1px solid rgb(121, 121, 121);

  padding: 10px;
  padding-right: 36px;
  padding-left: 36px;
  font-size: 18px;
  text-align: left;
  color: rgb(168, 168, 168) !important;
}

.button {
  background-color: rgb(15, 123, 255);
  width: 150px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: white;
  font-weight: 800;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(0, 111, 247);
}

body {
  background-image: url('image.png');
  background-color: #0f0f0f;
  background-size: 1600px 800px;
}

.title {
  /* font-family: 'Zilla Slab', serif; */
  font-size: 55px;
  color: white;
}
.tableDiv {
  max-height: 300px;
  overflow-y: scroll;
}
.rating {
  margin-left: 30px;
}

.formDiv {
  margin: auto;
}
