#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: orange;
}

.read-the-docs {
  color: #888;
}

.vitest {
  background-color: black;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: snow;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(50, 47, 47);
  color: white;
  padding: 10px;
}
.navbar ul {
  display: flex;
  width: 600px;
  margin: 0px auto;
  font-size: 14px;
  list-style: none;
}
.navbar ul li {
  margin: 10px;
}

.App {
  background: snow;
  /* height: 100vh; */
}

.container {
  width: 600px;
  margin: 0px auto;
}
.container .blog {
  display: flex;
  padding: 10px;
}
.container .card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  width: 50%;
  font-size: 10px;
  color: rgb(50, 47, 47);
}
.container .card img {
  width: 100%;
}

.docker {
  background: darkblue;
  font-family: monospace;
  font-size: 1rem;
  color: gold;
}
